body {
  background-color: #f8f9fa;
  font-family: "Nanum Gothic Coding", monospace;
}
#register {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  color: #03cf5d;
  font-weight: 700;
  font-size: 2rem;
  margin: 3rem 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons > button {
  width: 48%;
  height: 3rem;
  background-color: #08a600;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 700;
}

form label {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

#birthday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input,
select {
  box-sizing: border-box;
  height: 1.8rem;
}

input {
  padding: 0.7rem;
}

#birthday select {
  width: 30%;
}

#birthday input {
  max-width: 30%;
}

.warning,
.safe {
  font-size: 0.9rem;
}

.warning {
  color: #fd3434;
}

.safe {
  color: #45bb43;
}

.hide {
  visibility: hidden;
}

span {
  display: block;
}

form span {
  margin-top: 0.4rem;
  font-weight: 0.8rem;
}

#agreement {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: underline;
}

.center {
  left: 50%;
  transform: translate(-50%, 30vh);
}

#modal {
  position: absolute;
  border: 1px solid #000000;
  background-color: #f4f4f4;
  top: 0;
  width: 30vw;
  height: 40vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
.modal-content {
  height: 70%;
  padding: 1rem;
}

#privacy-agreement {
  display: block;
  overflow-y: scroll;
  height: 60%;
  text-align: justify;
  border: 1px solid #000000;
}

#modal-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#modal-button button {
  width: 30%;
  height: 2rem;
  background-color: #08a600;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 700;
}

.modal-close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 98%;
}

.modal-title {
  font-weight: 500;
  margin-bottom: 3rem;
}
